body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.text-wrap {
  word-wrap: break-word;
}

.ingredient-list {
  overflow-x: scroll;
  min-height: 300px;
  max-width: 100%;
}

.ui.grid > .row.ingredient-list-row {
  flex-wrap: nowrap;
  min-height: 100%;
}

.ui.grid {
  padding: 0px 20px;
}

/* .card {
  width: 75%;
  margin: 10px;
  padding: 30px;
  text-align: center;
  border: 2px solid black;
} */

.card {
  /* background-image: url(https://images.unsplash.com/photo-1586075010923-2dd4570fb338?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGFwZXIlMjB0ZXh0dXJlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80); */
  text-align: center;
  border: grey solid 1px;
  width: 15rem;
  height: 20rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #353333;
  background-color: rgb(255, 255, 255);
}


.column {
  float: left;
  /* width: 25%; */
  padding: 20px;
}

h1 {

  font-size: xx-large;
  text-align: center;
  margin-bottom: 30px;
  
}

/* .ingredients {
  background-image: url(https://cdn.wallpapersafari.com/27/46/fjYJsI.jpg);
  background-size: 1700px;
  background-position: center;
  background-position: top;
} */

.your-ingredients {
  background-image: url(https://envato-shoebox-0.imgix.net/9224/81d8-0d33-4497-b2d7-98c733fdeea9/DSC_6985.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1600&s=d9a36ed963dd0738dc5f7534d08f5b66);
  background-position: center;
  background-size: 60pc;
  background-position: bottom;
}

h2 {
  font-size: large;
}

button {
  align-items: center;
  font-size: larger;
}

/* Popup style */
.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  /* background-image: url(https://i.pinimg.com/originals/69/07/89/6907897ea5a182a980f9eb9d818ecd56.gif); */

}
 
.box {
  position: relative;
  width: 50pc;
  margin: 0 auto;
  height: 60pc;
  max-height: 63vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}
 
.close-icon {
  content: 'x';
  cursor: pointer;
  position: fixed;
  /* right: calc(15% - 30px);
  top: calc(100vh - 85vh - 33px); */
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}

.making-smoothie {
  height: auto;
  width: auto;
}

.Filter {
  font-size: xx-large;
}




body {
  background-color: #434752;
  background-image: linear-gradient(to right, #434752, #2a2d35, #2a2d35);
}

#shelf {
  width: 400px;
  height: 71px;
  margin: 50px auto;
  position: relative;
}

.top {
  width: 336px;
  height: 100px;
  background: 7px 0 url(http://us.123rf.com/400wm/400/400/mettus/mettus1002/mettus100200138/6476266-motif-de-la-planche-de-bois-obsolete.jpg);
  background-size: 88%;
  position: absolute;
  top: 0;
  left: 32px;
  transform: perspective(300px) rotateX(75deg);
  box-shadow: inset 0 40px 130px -20px #16120d;
}

.front {
  width: 400px;
  height: 6px;
  background: url(http://us.123rf.com/400wm/400/400/mettus/mettus1002/mettus100200138/6476266-motif-de-la-planche-de-bois-obsolete.jpg);
  position: absolute;
  bottom: 0;
  box-shadow: inset 0 1px 1px 0 #776959, inset 0 -2px 20px -2px #16120D;
}

.shadow {
  width: 395px;
  height: 6px;
  position: absolute;
  bottom: 0;
  left: 5px;
  box-shadow: 0 10px 20px -2px black;
}

img {
  height: 25mm;
  width: 25mm
}